/* Estilo por etiqueta */
p {
  color: green;
}

/* Estilo por ID */
#titulo {
  font-size: 32px;
  text-decoration: underline;
}

/* Estilos por clases */
.normal {
  color: black;
}
.texto-importante {
  color: red;
  font-weight: bold;
}

.rojo {
  color: red;
}

.grande {
  font-size: 24px;
}

.negrita {
  font-weight: bold;
}

.subrayado {
  text-decoration: underline;
}

ul > li:first-child,
ol > li:first-child {
  color: red;
}

/* Elementos intermedios en verde */
ul > li:nth-child(2),
ul > li:nth-child(3),
ol > li:nth-child(2) {
  color: green;
}

/* Último elemento en azul */
ul > li:last-child, 
ol > li:last-child {
  color: rgb(0, 0, 105);
}


/* Pseudoclase */
a:hover {
  color: black; 
  cursor: pointer;
}

/* Pseudoelementos */
p::before {
  content: "👉 ";
  color: blue;
}

p::after {
  content: " ✔";
  color: green;
}
